:root {
    --custom-orange-color: #d64d00;
    --custom-graywhite-color: #f5f5f5;
    --custom-grayblack-color: #505050;
    --title-font: Rubik;
    --content-font: Open Sans;
}

input:focus {
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-bottom: 1px solid #dbdbdb;
    font-family: var(--title-font);
}

.nav-bar-menu {
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    gap: 52px;
}

.nav-bar-menu > div {
    transition: transform 0.3s;
    &:hover {
        color: var(--custom-orange-color);
        cursor: pointer;
        transform: scale(1.2);
    }
}

.nav-bar-icon {
    width: 4%;
    display: flex;
    justify-content: space-between;
}

.nav-bar-icon > img {
    filter: brightness(0%) saturate(0);
    opacity: 1;
    &:hover {
        filter: brightness(100%) saturate(100%);
        opacity: 1;
        cursor: pointer;
    }
}

.header > img:last-child {
    display: none;
}

.content-page {
    margin-top: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 112px;
}

.feature-title {
    width: 55%;
    max-width: 789px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-title > div:first-child {
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    color: #121212;
    margin-bottom: 27px;
    font-weight: 700;
    font-family: var(--title-font);
}

.feature-title > div:last-child {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: var(--custom-grayblack-color);
    margin-bottom: 76px;
    width: 518px;
    text-align: center;
    font-family: var(--content-font);
}

.feature-search {
    width: 667px;
    height: 82px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding-top: 26px 14px 26px 24px;
    align-items: center;
    margin-bottom: 76px;
    box-sizing: border-box;
}

.feature-search > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.feature-search > div:first-child > img {
    margin-right: 14px;
}

.feature-search > div:first-child > input {
    height: 30px;
    width: 100%;
    border: 0px;
    background-color: var(--custom-graywhite-color);
    font-size: 20px;
    font-family: var(--content-font);
}

.feature-search > button {
    width: 163px;
    height: 54px;
    padding: 12px 28px;
    background-color: var(--custom-orange-color);
    font-weight: bold;
    font-size: 22px;
    border: 0px;
    color: white;
    font-family: var(--title-font);
    transition: transform 0.3s;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.feature-images {
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.feature-images > img:not(:last-child) {
    margin-right: 12.8px;
}

.branch-logos {
    align-items: center;
    width: 1182.91px;
    display: flex;
    justify-content: space-between;
}

.branch-logos > a {
    width: fit-content;
    height: fit-content;
    transition: transform 0.3s;
    &:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
}

.product-page {
    width: 1248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 112px;
}

.product-title {
    width: 645px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px; 
}

.product-title > div:first-child {
    font-size: 18;
    line-height: 26px;
    color: var(--custom-orange-color);
    padding: 4px 24px;
    font-weight: bolder;
    background-color: var(--custom-graywhite-color);
    font-family: var(--title-font);
    margin-bottom: 15px;
}

.product-title > div:nth-child(2) {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    font-family: var(--title-font);
}

.product-title > div:nth-child(3) {
    font-size: 18px;
    line-height: 26px;
    color: var(--custom-grayblack-color);
    width: 451px;
    text-align: center;
    font-family: var(--content-font);
}

.product-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 24px;
    row-gap: 48px;
    font-family: var(--title-font);
}

.product-item {
    position: relative;
}

.product-item > div:first-child {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 2px 8px;
    background-color: var(--custom-orange-color);
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.product-item-image {
    padding-top: 11px;
    padding-left: 11px;
    padding-right: 12px;
    background-color: var(--custom-graywhite-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-item-image > img {
    margin: 0px;
}

.product-item-image > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 20px;
    transition: transform 0.3s;
    &:hover {
        color: var(--custom-orange-color);
        cursor: pointer;
        transform: scale(1.2);
    }
}

.product-item-image > div > div:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
    color: var(--custom-orange-color);
}

.product-item-name {
    margin-top: 24px;
    margin-bottom: 24px;
}

.product-item-name > div:first-child {
    font-size: 20px;
    line-height: 28px;
    color: var(--custom-grayblack-color);
    margin-bottom: 9px;
}

.product-item-name > div:nth-child(2) {
    display: flex;
    font-weight: bolder;
    align-items: center;
}

.product-item-name > div:nth-child(2) > div:first-child {
    margin-right: 14px;
    color: #d4d4d4;
    font-size: 16px;
    line-height: 24px;
}

.product-item-name > div:nth-child(2) > div:last-child {
    color: #121212;
    font-size: 18px;
    line-height: 26px;
}

.customer-reviews {
    background-color: var(--custom-graywhite-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 66px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.customer-reviews > div:first-child {
    width: 495px;
    margin-bottom: 80px;
}

.customer-reviews > div:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    align-items: center;
    gap: 24px;
    transition: 1.3s ease-in-out;
    overflow-x: hidden;
}

.customer-reviews > div:nth-child(2) > div:last-child {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80px;
    left: 48%;
    bottom: 3%;

    @media only screen and (max-width: 400px) {
        width: 50px;
    }
}

.customer-reviews > div:nth-child(2) > div:last-child> button {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #c6c6c6;
    padding: 0px;
    border: 0px;

    @media only screen and (max-width: 400px) {
        width: 7px;
        height: 7px;
        border-radius: 7px;
    }
}

.customer-reviews > div:nth-child(2) > div:last-child > button.selected {
    background-color: #5c59d4;
}

.customer-reviews-item {
    background-color: white;
    width: 623px;
    padding: 42px;
    height: max-content;
    box-sizing: border-box;
}

.customer-reviews-item > div:first-child > img:nth-child(2) {
    display: none;
}

.customer-reviews-item > div:nth-child(2) {
    font-size: 18px;
    line-height: 28px;
    color: var(--custom-grayblack-color);
    margin-top: 28px;
    margin-bottom: 28px;
    font-family: var(--content-font);
}

.customer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font);
}

.customer-info > div:first-child {
    display: flex;
    align-items: center;
}

.customer-info > div > img {
    margin-right: 14px;
}

.customer-info > div > div:last-child {
    font-family: var(--title-font);
    font-size: 18px;
    line-height: 24px;
}

.furniture-gallery {
    width: 100%;
    padding: 112px 96px;
    box-sizing: border-box;
    font-family: var(--title-font);
}

.shop-now-menu {
    display: flex;
    justify-content: space-between;
}

.shop-now-menu > div:first-child {
    background-color: var(--custom-graywhite-color);
}

.shop-now-menu > div:nth-child(2) {
    background-color: #ededff;
}

.shop-now-menu > div:nth-child(3) {
    background-color: #ffebd8;
}

.shop-now-menu-item {
    width: 420px;
    display: flex;
    position: relative;
}

.shop-now-menu-item > div:first-child {
    margin-top: 51px;
    margin-bottom: 43px;
    margin-left: 40px;
}

.shop-now-menu-item > div:first-child > div {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bolder;
}

.shop-now-menu-item > div:first-child > button {
    padding: 6px 18px;
    background-color: white;
    border: 1px solid #5c59d4;
    font-size: 20px;
    line-height: 28px;
    width: fit-content;
    transition: transform 0.3s;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.shop-now-menu-item > img {
    position: absolute;
    right: 0px;
    top: 0px;
}

.furniture-gallery-content {
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.furniture-gallery-content > div:first-child {
    width: 451px;
    margin-bottom: 40px;
}

.furniture-gallery-button {
    width: 695px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.furniture-gallery-button > button {
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 28px;
    border-radius: 32px;
    border: 1px solid #dbdbdb;
    background-color: white;
    &:hover {
        border: 1px solid #5c59d4;
        cursor: pointer;
    }
}

.furniture-gallery-button > button > img {
    filter: brightness(75%) saturate(0%);
    opacity: 1;
    margin-right: 14px;
}

.furniture-gallery-button button.selected {
    background-color: #ededff;
    color: #5c59d4;
    border-color: #5c59d4;
}

.furniture-gallery-button button.selected img {
    filter: brightness(100%) saturate(100%);
    opacity: 1;
}

.furniture-gallery-images {
    max-width: 1248px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.bottom-review {
    background-color: var(--custom-graywhite-color);
    width: 100%;
    display: flex;
}

.bottom-customer-review {
    margin: 64px 117px 200px 96px;
    width: 735px;
    height: 241px;
    position: relative;
}

.bottom-customer-review-content {
    width: 539px;
    overflow-x: hidden;
}

.bottom-customer-review-content > div {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    transition: 1.3s ease-in-out;
    overflow-x: hidden;
}

.bottom-customer-review-item {
    width: 539px;
}

.bottom-customer-review-item > div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 21px;   
}

.bottom-customer-review-item > div:first-child > img {
    margin-right: 14px;        
}

.bottom-customer-review-item > div:nth-child(2) {
    font-family: var(--content-font);
    font-size: 18px;
    line-height: 28px;
    color: var(--custom-grayblack-color);
    margin-bottom: 20px;
}

.bottom-review-customer-name > div:first-child {
    font-family: var(--title-font);
    font-size: 18px;
    line-height: 24px;
}

.bottom-review-customer-name > div:nth-child(2) {
    font-family: var(--content-font);
    font-size: 16px;
    line-height: 22px;
}

.Quote {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 208px;
    height: 147px;
}

.QuoteOrange {
    display: none;
}

.Sofa {
    position: absolute;
    right: -6px;
    top: 149px;
}

.our-furniture-review {
    margin-top: 138px;
    width: 347px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.our-furniture-review > div:first-child {
    background-color: #ececec;
    color: #5c59d4;
    margin-bottom: 15px;
}

.our-furniture-review > div:nth-child(2) {
    margin-bottom: 16px;
    text-align: left;
}

.our-furniture-review > div:nth-child(3) {
    text-align: left;
    width: 100%;
}

.arrow-button {
    position: absolute;
    top: 1px;
    right: 0px;
    width: 88px;
    display: flex;
    justify-content: space-between;
}

.arrow-button > div {
    width: 32px;
    height: 32px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid #DBDBDB;
    transition: transform 0.3s;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.arrow-button > div > img {
    filter: brightness(100%) saturate(0%);
    opacity: 0.7;
    transition: transform 0.3s;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        filter: brightness(100%) saturate(100%);
        opacity: 1;
    }
}

footer {
    background-color: #5c59d4;
    width: 100%;
}

.subscribe {
    padding: 129px 153px 60px 154px;
    background-color: #f2a156;
    display: flex;
}

.subscribe > div:first-child {
    font-size: 34px;
    color: white;
    width: 426px;
    line-height: 42px;
    margin-right: 40px;
    font-family: var(--title-font);
}

.subscribe > div:last-child {
    width: 667px;
    height: 82px;
    background-color: var(--custom-graywhite-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe > div:last-child > input {
    margin-left: 24px;
    height: 30px;
    width: 60%;
    border: 0px;
    background-color: var(--custom-graywhite-color);
    font-size: 20px;
    font-family: var(--content-font);
}

.subscribe > div:last-child > button {
    width: 163px;
    height: 54px;
    padding: 12px 28px;
    background-color: #5c59d4;
    margin-right: 14px;
    font-weight: bold;
    font-size: 22px;
    border: 0px;
    color: white;
    font-family: var(--title-font);
    transition: transform 0.3s;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.footer-info {
    padding: 80px 96px;
}

.footer-info > div:first-child {
    margin-bottom: 24px;
    padding-bottom: 64px;
    border-bottom: 1px solid var(--custom-graywhite-color);
    display: flex;
}

.logo {
    width: 219px;
    margin-right: 157px;
}

.logo > img:first-child {
    margin-bottom: 28px;
}

.logo > img:nth-child(2) {
    display: none;
}

.logo > div {
    font-size: 18px;
    color: var(--custom-graywhite-color);
    line-height: 26px;
    letter-spacing: -0.3px;
    font-family: var(--content-font);
} 

.footer-list {
    width: 764px;
    display: flex;
    justify-content: space-between;
}

.footer-list > div {
    display: flex;
    flex-direction: column;
    height: 100%;
} 

.footer-list > div > div:first-child {
    font-size: 18px;
    font-weight: bold;
    color: var(--custom-graywhite-color);
    margin-bottom: 16px;
    font-family: var(--title-font);
    margin-bottom: 16px;
}

.footer-list > div > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    color: var(--custom-graywhite-color);
    font-size: 16px;
    align-content: space-between;
    font-family: var(--content-font);
    flex: 1;
}

.footer-list > div > div:last-child > div {
    &:hover {
        color: #DBDBDB;
        cursor: pointer;
    }
}

.footer-info > div:last-child {
    font-size: 14px;
    color: var(--custom-graywhite-color);
    text-align: left;
    line-height: 22px;
    font-family: var(--content-font);
}