:root {
    --custom-orange-color: #d64d00;
    --custom-graywhite-color: #f5f5f5;
    --custom-grayblack-color: #505050;
    --title-font: Rubik;
    --content-font: Open Sans;
}

input:focus {
    outline: none;
}

.title-font {
    font-family: Rubik;
}

.content-font {
    font-family: Open Sans;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-bottom: 1px solid #dbdbdb;
    font-family: var(--title-font);

    @media only screen and (max-width: 400px) {
        padding: 5%;
    }
}

header > img:first-child {
    @media only screen and (max-width: 400px) {
        scale: 0.7;
    }
}

.nav-bar-menu {
    margin: 0 auto;
    font-size: 20px;
    width: 31%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 400px) {
        display: none;
    }
}

.nav-bar-icon {
    width: 4%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 400px) {
        display: none;
    }
}

.header > img:last-child {
    display: none;
    @media only screen and (max-width: 400px) {
        display: block;
    }
}

.content-page {
    margin-top: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 400px) {
        margin-top: 43px;
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 112px;

    @media only screen and (max-width: 400px) {
       margin-bottom: 42px;
    }
}

.feature-title {
    width: 55%;
    max-width: 789px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 400px) {
        max-width: 293px;
        width: 73.25%;
    }
}

.feature-title > div:first-child {
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    color: #121212;
    margin-bottom: 27px;
    font-weight: 700;
    font-family: var(--title-font);

    @media only screen and (max-width: 400px) {
        font-size: 24px;
        line-height: 120%;
        font-weight: 800;
        margin-bottom: 16px;
    }
}

.feature-title > div:last-child {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: var(--custom-grayblack-color);
    margin-bottom: 76px;
    width: 518px;
    text-align: center;
    font-family: var(--content-font);

    @media only screen and (max-width: 400px) {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 50px;
        max-width: fit-content;
    }
}

.feature-search {
    width: 667px;
    height: 82px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 24px;
    padding-right: 14px;
    align-items: center;
    margin-bottom: 76px;
    box-sizing: border-box;

    @media only screen and (max-width: 400px) {
        max-width: 281px;
        max-height: 45px;
        height: fit-content;
        width: fit-content;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 13.17px;
        padding-right: 14.27px;
        margin-bottom: 43px;
    }
}

.feature-search > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;

    @media only screen and (max-width: 400px) {
        max-width: 281px;
        width: fit-content;
    }
}

.feature-search > div:first-child > img {
    margin-right: 14px;

    @media only screen and (max-width: 400px) {
        margin-right: 7.68px;
    }
}

.feature-search > div:first-child > input {
    height: 30px;
    width: 100%;
    border: 0px;
    background-color: var(--custom-graywhite-color);
    font-size: 20px;
    font-family: var(--content-font);
    
    @media only screen and (max-width: 400px) {
        height: 17px;
        font-size: 11px;
    }
}

.feature-search > button {
    width: 163px;
    height: 54px;
    padding: 12px 28px;
    background-color: var(--custom-orange-color);
    font-weight: bold;
    font-size: 22px;
    border: 0px;
    color: white;
    font-family: var(--title-font);

    @media only screen and (max-width: 400px) {
        width: 72.73px;
        height: 30.07px;
        padding: 6.59px 15.37px;
        font-size: 12.07px;
    }
}

.feature-images {
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    @media only screen and (max-width: 400px) {
        margin-bottom: 43px;
    }
}

.feature-images > img:first-child {
    @media only screen and (max-width: 400px) {
        width: 125.87px;
        height: 160px;
    }
}

.feature-images > img:nth-child(2) {
    @media only screen and (max-width: 400px) {
        width: 252.27px;
        height: 160px;
    }
}

.feature-images > img:nth-child(3), .feature-images > img:last-child{
    @media only screen and (max-width: 400px) {
        display: none;
    }
}

.branch-logos {
    align-items: center;
    width: 1182.91px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 400px) {
        width: 338px;
    }
}

.branch-logos > a {
    width: fit-content;
    height: fit-content;
    transition: transform 0.3s;
    &:hover {
        cursor: pointer;
        transform: scale(1.3);
    }

    @media only screen and (max-width: 400px) {
        transform: scale(1);
    }
}

.branch-logos img {
    @media only screen and (max-width: 400px) {
        width: 50px;
        height: 12px;
        filter: brightness(75%) saturate(0);
        opacity: 0.5;
    }
}

.product-page {
    width: 1248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 112px;
    @media only screen and (max-width: 400px) {
        width: 340.39px;
        margin-bottom: 42px;
    }
}

.product-title {
    width: 645px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    @media only screen and (max-width: 400px) {
        width: 281px;
        margin-bottom: 32px;
    }  
}

.product-title > div:first-child {
    font-size: 18;
    line-height: 26px;
    color: var(--custom-orange-color);
    padding: 4px 24px;
    font-weight: bolder;
    background-color: var(--custom-graywhite-color);
    font-family: var(--title-font);
    margin-bottom: 15px;

    @media only screen and (max-width: 400px) {
        font-size: 10px;
        line-height: 13.6px;
        padding: 2.1px 12.58px;
        margin-bottom: 9.96px;
    }
}

.product-title > div:nth-child(2) {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    font-family: var(--title-font);

    @media only screen and (max-width: 400px) {
        font-size: 20px;
        line-height: 29.3px;
        margin-bottom: 7.86px;
    }
}

.product-title > div:nth-child(3) {
    font-size: 18px;
    line-height: 26px;
    color: var(--custom-grayblack-color);
    width: 451px;
    text-align: center;
    font-family: var(--content-font);

    @media only screen and (max-width: 400px) {
        font-size: 10px;
        line-height: 13.6px;
        width: 236.34px;
    }
}

.product-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 24px;
    row-gap: 48px;
    font-family: var(--title-font);
    
    @media only screen and (max-width: 400px) {
        grid-gap: 12px;
        row-gap: 11px;
        height: 556.09px;
    }
}

.product-item {
    position: relative;
}

.product-item > div:first-child {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 2px 8px;
    background-color: var(--custom-orange-color);
    color: white;
    font-size: 16px;
    line-height: 24px;

    @media only screen and (max-width: 400px) {
        top: 11.7px;
        left: 10.68px;
        font-size: 8.94px;
        line-height: 13.4px;
        padding: 1.12px 4.47px;
    }
}

.product-item-image {
    padding-top: 11px;
    padding-left: 11px;
    padding-right: 12px;
    background-color: var(--custom-graywhite-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 400px) {
        padding-top: 6.14px;
        padding-left: 6.14px;
        padding-right: 6.7px;
    }
}

.product-item-image > img {
    margin: 0px;
    @media only screen and (max-width: 400px) {
        width: 151.35px;
        height: 167.55px;
        margin: 0px;
    }
}

.product-item-image > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 20px;

    @media only screen and (max-width: 400px) {
        margin-top: 12.85px;
        margin-bottom: 10.57px;
    }
}

.product-item-image > div > img {
    width: 13.4px;
    height: 13.4px;
}

.product-item-image > div > div:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
    color: var(--custom-orange-color);

    @media only screen and (max-width: 400px) {
        font-size: 8.94px;
        line-height: 13.4px;
    }
}

.product-item-name {
    margin-top: 24px;
    margin-bottom: 24px;

    @media only screen and (max-width: 400px) {
        margin-top: 12.4px;
        margin-bottom: 12.92px;
    }
}

.product-item-name > div:first-child {
    font-size: 20px;
    line-height: 28px;
    color: var(--custom-grayblack-color);
    margin-bottom: 9px;

    @media only screen and (max-width: 400px) {
        font-size: 11.7px;
        line-height: 15.6px;
        margin-bottom: 5.11px;
    }
}

.product-item-name > div:nth-child(2) {
    display: flex;
    font-weight: bolder;
    align-items: center;
}

.product-item-name > div:nth-child(2) > div:first-child {
    margin-right: 14px;
    color: #d4d4d4;
    font-size: 16px;
    line-height: 24px;

    @media only screen and (max-width: 400px) {
        margin-right: 7.82px;
        font-size: 8.94px;
        line-height: 13.4px;
    }
}

.product-item-name > div:nth-child(2) > div:last-child {
    color: #121212;
    font-size: 18px;
    line-height: 26px;

    @media only screen and (max-width: 400px) {
        font-size: 10.05px;
        line-height: 14.5px;
    }
}

.customer-reviews {
    background-color: var(--custom-graywhite-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 66px;
    position: relative;

    @media only screen and (max-width: 400px) {
        padding-top: 22.96px;
        padding-bottom: 22.96px;
    }
}

.customer-reviews > div:first-child {
    width: 495px;
    margin-bottom: 80px;

    @media only screen and (max-width: 400px) {
        width: 236.34px;
        margin-bottom: 27.82px;
    }
}

.customer-reviews > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 24px;
    transition: 1.3s ease-in-out;

    @media only screen and (max-width: 400px) {
        gap: 8.35px;
    }
}

.customer-reviews > div:nth-child(2) > div:last-child {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80px;
    left: 48%;
    bottom: 3%;

    @media only screen and (max-width: 400px) {
        width: 50px;
    }
}

.customer-reviews > div:nth-child(2) > div:last-child> button {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #c6c6c6;
    padding: 0px;
    border: 0px;

    @media only screen and (max-width: 400px) {
        width: 7px;
    height: 7px;
    border-radius: 7px;
    }
}

.customer-reviews > div:nth-child(2) > div:last-child > button.selected {
    background-color: #5c59d4;
}

.customer-reviews-item {
    background-color: white;
    width: 623px;
    padding: 42px;
    height: max-content;
    box-sizing: border-box;

    @media only screen and (max-width: 400px) {
        width: 216.69px;
        padding: 14.61px;
    }
}

.customer-reviews-item > div:first-child > img:first-child {
    @media only screen and (max-width: 400px) {
        display: none;
    }
}

.customer-reviews-item > div:first-child > img:nth-child(2) {
    display: none;

    @media only screen and (max-width: 400px) {
        display: block;
    }
}

.customer-reviews-item > div:nth-child(2) {
    font-size: 18px;
    line-height: 28px;
    color: var(--custom-grayblack-color);
    margin-top: 28px;
    margin-bottom: 28px;
    font-family: var(--content-font);

    @media only screen and (max-width: 400px) {
        font-size: 7.5px;
        line-height: 11px;
        margin-top: 9.74px;
        margin-bottom: 9.74px;
    }
}

.customer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font);
}

.customer-info > div > img {
    @media only screen and (max-width: 400px) {
        width: 15.3px;
        height: 15.3px;
    }
}

.customer-info > img {
    @media only screen and (max-width: 400px) {
        width: 45.56px;
        height: 8px;
    }
}

.customer-info > div:first-child {
    display: flex;
    align-items: center;
}

.customer-info > div > img {
    margin-right: 14px;

    @media only screen and (max-width: 400px) {
        margin-right: 4.87px;
    }
}

.customer-info > div > div:last-child {
    font-family: var(--title-font);
    font-size: 18px;
    line-height: 24px;

    @media only screen and (max-width: 400px) {
        font-size: 6.26px;
        line-height: 10px;
    }
}

.furniture-gallery {
    width: 100%;
    padding: 112px 96px;
    box-sizing: border-box;
    font-family: var(--title-font);

    @media only screen and (max-width: 400px) {
        padding: 42px 25.65px;
    }
}

.shop-now-menu {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 400px) {
        flex-direction: column;
        align-items: center;
    }
}

.shop-now-menu > div:first-child {
    background-color: var(--custom-graywhite-color);
}

.shop-now-menu > div:nth-child(2) {
    background-color: #ededff;
}

.shop-now-menu > div:nth-child(3) {
    background-color: #ffebd8;
}

.shop-now-menu-item {
    width: 400px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 400px) {
        width: 340.71px;
    }
}

.shop-now-menu-item:not(:last-child) {
    @media only screen and (max-width: 400px) {
        margin-bottom: 20px;
    }
}

.shop-now-menu-item > div:first-child {
    margin-top: 51px;
    margin-bottom: 43px;
    margin-left: 40px;
}

.shop-now-menu-item > div:first-child > div {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bolder;

    @media only screen and (max-width: 400px) {
        margin-bottom: 11.18px;
        font-size: 20.44px;
        line-height: 27.3px;
    }
}

.shop-now-menu-item > div:first-child > button {
    padding: 6px 18px;
    background-color: white;
    border: 1px solid #5c59d4;
    font-size: 20px;
    line-height: 28px;
    width: fit-content;

    @media only screen and (max-width: 400px) {
        padding: 5.11px 15.33px;
        font-size: 17.4px;
        line-height: 23.8px;
    }
}

.furniture-gallery-content {
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.furniture-gallery-content > div:first-child {
    width: 451px;
    margin-bottom: 40px;
}

.furniture-gallery-button {
    width: 695px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.furniture-gallery-button > button {
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 28px;
    border-radius: 32px;
    border: 1px solid #dbdbdb;
    background-color: white;
    &:hover {
        border: 1px solid #5c59d4;
    }
}

.furniture-gallery-button > button > img {
    filter: brightness(75%) saturate(0%);
    opacity: 1;
}

.furniture-gallery-button button.selected {
    background-color: #ededff;
    color: #5c59d4;
    border-color: #5c59d4;
}

.furniture-gallery-button button.selected img {
    filter: brightness(100%) saturate(100%);
    opacity: 1;
}

.furniture-gallery-content > div:last-child {
    max-width: 1248px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.bottom-review {
    background-color: var(--custom-graywhite-color);
    width: 100%;
    display: flex;
}

.bottom-customer-review {
    margin-top: 64px;
    margin-bottom: 200px;
    margin-left: 96px;
    margin-right: 117px;
    width: 735px;
    height: 241px;
    position: relative;
}

.bottom-customer-review-content {
    width: 539px;
}

.bottom-customer-review-content > div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.bottom-customer-review-content > div:nth-child(2) {
    font-family: var(--content-font);
    font-size: 18px;
    line-height: 28px;
    color: var(--custom-grayblack-color);
    margin-bottom: 20px;
}

.bottom-review-customer-name > div:first-child {
    font-family: var(--title-font);
    font-size: 18px;
    line-height: 24px;
}

.bottom-review-customer-name > div:nth-child(2) {
    font-family: var(--content-font);
    font-size: 16px;
    line-height: 22px;
}

.bottom-customer-review-image > img:first-child {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 208px;
    height: 147px;
}

.bottom-customer-review-image > img:nth-child(2) {
    position: absolute;
    right: -6px;
    top: 149px;
}

.our-furniture-review {
    margin-top: 138px;
    width: 347px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}

.our-furniture-review > div:first-child {
    background-color: #ececec;
    color: #5c59d4;
    margin-bottom: 15px;
}

.our-furniture-review > div:nth-child(2) {
    margin-bottom: 16px;
}

.our-furniture-review > div:nth-child(3) {
    text-align: left;
    width: 100%;
}


.arrow-button {
    position: absolute;
    top: 1px;
    right: -18px;
    width: 88px;
    display: flex;
    justify-content: space-between;
}

.arrow-button > div {
    width: 32px;
    height: 32px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid #DBDBDB;
    &:hover {
        border: 1px solid #5c59d4;
    }
}

.arrow-button > div > img {
    filter: brightness(100%) saturate(0%);
    opacity: 0.7;
    &:hover {
        filter: brightness(100%) saturate(100%);
        opacity: 1;
    }
}

